/* Basic Styles */
body {
  font-family: Menlo, Verdana, Arial, serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

section {
	margin-top: 50px;
	padding: 10px;
}

/* Header Styles */
#top-header {
  text-align: center;
  border: 2px solid #222;
  box-shadow: 0 2px 0 3px #222;
}

h1 {
  font-family: "Piazzolla", Arial, serif;
  font-size: 5rem;
}

#top-header p,
.component-menu {
  font-size: 1.2rem;
}

/* Header navigation styles */
.component-menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.component-menu a:link {
  text-decoration: none;
}

.component-menu a:hover {
  text-decoration: underline;
}

.component-menu a[href="#colors"] {
  color: white;
  background-color: #1D7B82;
  border-radius: 4px;
  padding: 6px;
  font-weight: 700;
}

.component-menu a[href="#fonts"] {
  color: #376E4D;
  font-family: "Piazzolla", Arial, sans-serif;
}

.component-menu a[href="#text-styles"] {
  color: #222;
  font-family: "Bungee", Arial, sans-serif;
}

/* Header navigation media queries */
@media (max-width: 670px) {
  .component-menu {
    flex-direction: column;
    height: 120px;
    justify-content: space-between;
  }
}

/* Main section styles */

/* Colors section */
#colors {
  display: flex;
  padding: 10px;
  height: 400px;
}

#colors header {
  font-family: "Bungee", Arial, sans-serif;
  font-size: 1.25rem;
  color: #E1D460;
  text-shadow: -2px 1px 1px #000;
  text-align: center;
  flex: 1;
  align-self: center;
}

#colors-list {
  display: flex;
  flex-flow: row wrap;
  flex: 2;
}

#colors-list li {
  flex: 1;
  margin: 4px;
  border-radius: 2px;
  text-align: center;
  color: #fff;
}

/* #colors-list color items */
#metallic-seaweed {
  background-color: #1d7B82;
}

#amazon {
  background-color: #376E4D;
}

#cerulean-blue {
  background-color: #314FC6;
}

#satin-sheen-gold {
  background-color: #B79221;
}

/* Fonts section */
#fonts {
	display: flex;
	flex-flow: column wrap;

}

#fonts header {
	color: tomato;
	font-family: "Bungee", Arial, sans-serif;
  font-size: 1.25rem;
	text-align: center;
}

#bungee {
	font-family: "Bungee";
}

.bold-paragraph {
	font-weight: bold;
}

.italic-paragraph {
	font-style: italic;
}

#piazzolla {
	font-family: "Piazzolla", Arial, sans-serif;
}

#menlo {
	font-family: "Menlo", Arial, sans-serif;
}
